# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Build
dist/
build/
coverage/

# Cache
.vite/
.next/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db